<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新英雄</title>
</head>
<body>
    <div>
        <form action="#" method="post">
            <p>姓名:<input type="text" name="heroname" placeholder="输入角色名"></p>
            <p>
                性别:<input type="radio" value="fomale" name="sex" checked> 女 <input name="sex" type="radio" value="male"> 男
            </p>
            <p>技能:<input name="herocontent" type="text"></p>
            <input type="submit" value="提交">

        </form>
    </div>
</body>
</html>