<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
         {% block title %}
            模板
        {% endblock %}
    </title>
</head>
<body>
    {% block header %}
        <div>
            {% if request.user and request.user.username != '' %}
                用户名：{{request.user.username}}
                <a href="{% url 'polls:logout' %}">退出登录</a>
            {% else %}
                <a href="{% url 'polls:login' %}">登录</a>
                <a href="{% url 'polls:regist' %}">注册</a>
            {% endif %}
        </div>





    {% endblock %}
    {% block body %}
        这里是身体
        <br>
    {% endblock %}
    {% block foot %}
        这里是脚部
        <br>
    {% endblock %}

</body>
</html>